.site-header {
  background-color: #f0f0c9;
  padding: 16px;
}

.site-header nav {
  background-color: #fcfcdb;
  padding: 8px;
}

.site-header nav ul {
  margin: 0;
  padding: 0;
}

.site-header nav li {
  display: inline;
  margin-left: 12px;
}

.site-header a {
  color: #087f8c;
  text-decoration: none;
}
